/*
 * ARQUITETURA MODULAR CSS - DARAFA LUXURY
 * Maestro Verificado
 */

/* 1. BASE */
@import url('_base/_reset.css');
@import url('_base/_variables.css');
@import url('_base/_global.css');

/* 2. COMPONENTES */
@import url('_components/_navbar.css');
@import url('_components/_hero.css');
@import url('_components/_uiverse-button.css');
@import url('_components/_instagram-button.css'); /* NOVO */

/* Layouts */
@import url('_components/_zigzag.css');
@import url('_components/_highlights.css');

@import url('_components/_footer.css');
